body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image {
  position: relative;
  height: 70vh;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}

.content span.img-txt {
  background-color: #333;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(90, 90, 90) transparent;
}

*::-moz-scrollbar-thumb {
  background-color: rgba(90, 90, 90);
  border-radius: 10px;
}

*::-moz-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent !important;
  /* hover */
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}


